.form-frame{
  display: flex;
  flex-direction: column;
  width: 27rem;
}
.submitButton {
  background-color: #145C99;
  text-align: center;
  justify-content: center;
}
.form-input-lable{
  font-size: 14px;
  color: #5D7181;
  margin: 0.5rem 1.5rem -0.5rem 1.5rem

}  

.input-box{
border-radius: 5px;
border: #5D7181 solid 1px;
padding: 1rem;
/* margin-bottom: 1rem; */
font-size: 1rem;
font-weight: 500;
margin: 1rem 1.5rem
}
.input-error{
  border-radius: 12px;
  border: red solid 1px;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
